body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}
.grid img {
    grid-column: 4;
    grid-row: 2 / 3;
}
h1 {
    font-size: 72px;
    grid-column: 2;
    grid-row: 2;
}
h2 {
    font-size: 72px;
    grid-column: 2 / 3 ;
    grid-row: 3;
}
#bouton {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: brown;
    color: black;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    grid-column: 3;
    grid-row: 5;
}
#bouton :hover {
    background-color: gray;
    opacity: 50%;
    
}